{% extends "base.html" %}
{% block content %}
	<script src="{{url_for('static',filename='js/socket.io.min.js')}}"></script>
	<link href="{{url_for('static',filename='css/chat-style.css')}}" rel="stylesheet">

	<h1 class="title1">
        matchbox
    </h1>
	<div>
  		<div id="wrapper">
			<div class="message-container">
				<div class="message-north">
					<ul class="message-user-list">
						{% for chatter in chats %}
						<li data-user="{{chatter.fbid}}">
							<a href="#" class="user-link {% if loop.first %}active{%endif%}" id=link{{chatter.fbid}}>
                {% if not chatter.status %} <button class="reveal">?</button>{% endif %}
								<span class="user-img"><img src="{{chatter.photo}}"></span>
								<span class="user-title">{{chatter.name}}</span>
								<p class="user-desc">{{chatter.desc}}</p>

							</a>
						</li>
						{% endfor %}
					</ul>
          {% include 'chat_partial.html' %}
				</div>
				<div class="message-south">
					<div class="blocker"><textarea cols="20" rows="3" id="message"></textarea></div>
					<button id="send">Send</button>
					
				</div>
			</div>
		</div>
	</div>	

  	<script>
     function scrollToBottom()
    {
      var objDiv = document.getElementById("chatlog");
      objDiv.scrollTop = objDiv.scrollHeight;
    }
    function showNextMessage(sender, message)
    {
        if (!sender)
        {
          $(".message-thread").append('<div class="message bubble-right"><p>'+message+'</p> </div>');
        }
        else
        {
          $(".message-thread").append('<div class="message bubble-left"><p>'+message+'</p> </div>');
        }
    }
    scrollToBottom();
    enter_depressed = false;
    //Sender: 0 if sent from user, 1 if sent from match
    function sendMessage()
    { 
      if ($("#message").val() == "") return;
      current=$("#chatlog").attr("data-user");
      message={text:$("#message").val(),recipient:current}
      socket.emit('message',message);
      $("#message").val("");
    }
    function reveal(event)
    {
      var r = confirm("Are you sure you want to reveal your identity?  It will not be shown until your chat partner also chooses to reveal.  This action cannot be undone.");
      if (!r) return;
      current=$(event.target).parent().parent().attr("data-user");
      $.post("/reveal",{other: current, status:"1"});

      refresh();
    }
    function refresh()
    {
      current=$("#chatlog").attr("data-user");
      $(document).off();
      $.ajax({
        url: "/chat?token=false",
        success: function(s,x){
          $(".message-user-list").html(($('.message-user-list',s)));
          $("#send").click(sendMessage);
          $(".reveal").click(reveal);
          $("#message").keydown(enterDown);
          $("#message").keyup(enterUp);
          $('.user-link').click(link);
          $.get("/getChat",{fbid:current},function(data){
            $("#chatlog").html($(data).html());
            $('.user-link').removeClass('active');
            $('#link'+current).addClass('active');
          }
          );

        }
      });
    }
    function enterDown(event)
    {
        if (!enter_depressed)
        { 
            if (event.which == 13)
            {
                event.preventDefault();
                enter_depressed = true;
                sendMessage();
            }
        }
    }
    function enterUp(event)
    {
        event.preventDefault();
        enter_depressed = false;
    }
    function link(event)
    {
      $('.user-link').removeClass('active');
      if ($(event.target).hasClass('user-link'))
      {
        $(event.target).addClass('active');
      }
      else
      {
        $(event.target).parent('.user-link').addClass('active');
      }
      user=$(this).parent('li').attr("data-user")
      $.get("/getChat",{fbid:user},function(data){
        $(".message-thread").replaceWith(data);
        scrollToBottom();
      });
    }

    $("#send").click(sendMessage);
    $(".reveal").click(reveal);
    $("#message").keydown(enterDown);
    $("#message").keyup(enterUp);
    $('.user-link').click(link);
    current=$("#chatlog").attr("data-user");
    $('#link'+current).addClass('active');
    var token = "{{token}}";
    var socket = io.connect('/chat');
    socket.on('connect', function () {
        socket.emit('join', token);
    });

    socket.on('message', function(other,text,direction){
    	current=$("#chatlog").attr("data-user");
    	if (direction == 0 && other == current)
    	{
    		showNextMessage(0,text);
        scrollToBottom();

    	}
    	if (direction == 1 && other == current){
        	showNextMessage(1,text);
          scrollToBottom();

    	}
    	$('li[data-user='+other+']').find(".user-desc").html(text);

    });
    window.setInterval(refresh,60000);
    </script>
{% endblock %}