{% extends "base.html" %}
{% block content %}
	<script src="{{url_for('static',filename='js/socket.io.min.js')}}"></script>
	<link href="{{url_for('static',filename='css/chat-style.css')}}" rel="stylesheet">

	<h1 class="title1">
        matchbox
    </h1>
	<div>
  		<div id="wrapper">
			<div class="message-container">
				<div class="message-north">
					<ul class="message-user-list">
						{% for chatter in chats %}
						<li data-user="{{chatter.fbid}}">
							<a href="#" class="user-link">
								<span class="user-img"><img src="{{chatter.photo}}"></span>
								<span class="user-title">{{chatter.name}}</span>
								<p class="user-desc">{{chatter.desc}}</p>
							</a>
						</li>
						{% endfor %}
					</ul>
					<div class="message-thread" id="chatlog" {% if chats %}data-user="{{chats[0].fbid}}"{% endif %}>
						{% for message in messages %}
            {% if loop.first or message.sent_time - last_message_time > twenty_minutes %}
              <div class="message time-stamp">
              <p>{{ view_func(message.sent_time) }}</p>
              </div>
            {% endif %}
						{% if message.sender == my_fbid %}
							<div class="message bubble-right">
							<label class="message-timestamp">{{view_func(message.sent_time)}}</label>
							<p>{{message.text}}</p>
							</div>
						{% else %}
							<div class="message bubble-left">
							<label class="message-timestamp">{{view_func(message.sent_time)}}</label>
							<p>{{message.text}}</p>
							</div>
						{% endif %}
            {% set last_message_time = message.sent_time %}
						{% endfor %}
					</div>
				</div>
				<div class="message-south">
					<div class="blocker"><textarea cols="20" rows="3" id="message"></textarea></div>
					<button id="send">Send</button>
					
				</div>
			</div>
		</div>
	</div>	

  	<script>
    var token = "{{token}}";
    var socket = io.connect('/chat');
    socket.on('connect', function () {
        socket.emit('join', token);
    });

    socket.on('message', function(other,text,direction){
    	current=$("#chatlog").attr("data-user");
    	if (direction == 0 && other == current)
    	{
    		showNextMessage(0,text);
        scrollToBottom();

    	}
    	if (direction == 1 && other == current){
        	showNextMessage(1,text);
          scrollToBottom();

    	}
    	$('li[data-user='+other+']').find(".user-desc").html(text);

    });
  	//Sender: 0 if sent from user, 1 if sent from match
    function scrollToBottom()
    {
      var objDiv = document.getElementById("chatlog");
      objDiv.scrollTop = objDiv.scrollHeight;
    }
  	function showNextMessage(sender, message)
    {
       	if (!sender)
       	{
       		$(".message-thread").append('<div class="message bubble-right"><p>'+message+'</p> </div>');
       	}
       	else
       	{
       		$(".message-thread").append('<div class="message bubble-left"><p>'+message+'</p> </div>');
       	}
    }
    scrollToBottom();
    enter_depressed = false;
    function sendMessage()
    {	if ($("#message").val() == "") return;
	    current=$("#chatlog").attr("data-user");
	  	message={text:$("#message").val(),recipient:current}
		socket.emit('message',message);
		$("#message").val("");
    }
    $("#send").click(sendMessage);
    $("#message").keydown(function(event)
    {
        if (!enter_depressed)
        {	
          	if (event.which == 13)
            {
              	event.preventDefault();
              	enter_depressed = true;
              	sendMessage();
            }
      	}
    });
    $("#message").keyup(function(event)
   	{
        event.preventDefault();
        enter_depressed = false;
    });
    $('.user-link').click(function(){
    $('.user-link').removeClass('active');
    $(this).addClass('active');
    user=$(this).parent('li').attr("data-user")
    $.get("/getChat",{fbid:user},function(data){
      $(".message-thread").replaceWith(data);
      scrollToBottom();
    });
    });
    </script>
{% endblock %}