<div class="message-thread" id="chatlog" {{other_fbid}}>
	{% for message in messages %}
	{% if loop.first or message.sent_time - last_message_time > twenty_minutes %}
	<div class="message-timestamp">
		{{ view_func(message.sent_time) }}
	</div>
	{% endif %}
	{% if message.sender == my_fbid %}
	<div class="message bubble-right">
		<p>{{message.text}}</p>
	</div>
	{% else %}
	<div class="message bubble-left">
		<p>{{message.text}}</p>
	</div>
	{% endif %}
	{% set last_message_time = message.sent_time %}
	{% endfor %}
</div>