{% extends "base.html" %}

{% block content %}
      <h1>
        <center>{{ boy }} and {{ girl }}</center>
      </h1>
      <p title="Profile Pictures">
      <center><img src={{ boypp }} alt={{ boy }} width="450" height="450"
              class="circle">
              <img src={{ girlpp }} alt={{ girl }} width="450" height="450"
              class="circle"></center>
      </p>
      <p title="Arrows">
          <center><img src="/img/redleftarrow.png" alt="Red Left Arrow" width = "200" height="120"> <img src="/img/greenrightarrow.png" alt="Green Right Arrow" width = "200" height="120"></center>
      </p>
{% endblock %}      