{% extends "base.html" %}

{% block content %}
		
		<h1 class="title">
        	matchbox
      	</h1>
      	<div class="hero-unit bottom" style="width:950px;height:500px">
      		<h2>
      			<i>This web app is a prototype to help us do testing for a mobile app. </i>
      		</h2>
      		<h3 style="text-align:justify;text-justify:inter-word">
      			The app generates a pair of friends from your facebook and allows you to endorse the match or not. Think of these matches in terms of how compatible their personalities are.  
      			<br><br>
      			To give the match a thumbs up, tap the up arrow key. To pass on it, tap the down arrow key.  In the full version, you will not only make matches, but you will also get matched! 
      			<br><br>
      			If you have any comments or suggestions for the game, please contact Tommy Kilmer at <a href="mailto:thomas.kilmer@yale.edu">thomas.kilmer@yale.edu</a>.  We're looking forward to hearing from you!
      	</h3>
      	<div>
      	<a href="/login" class="btn btn-primary">Play!</a>
      </div>
      	</div>
{% endblock %}