{% extends "base.html" %}

{% block content %}
		
		<h1 class="title">
        	matchbox
      	</h1>
      	<div class="hero-unit bottom" style="width:950px;height:600px">
      		<h2>
      			<i>This web app is a prototype to help us do testing for a mobile app. </i>
      		</h2>
      		<h3 style="text-align:justify;text-justify:inter-word;font-size:150%">
      			Matchbox lets you make matches and receive the matches other users have made of you!
                        <br><br>
                        Using Facebook, our app generates a pair of your friends at Yale, and allows you to endorse the match or not. Think of these matches in terms of how compatible their personalities are. To endorse the match, tap the up arrow key. To pass on it, tap the down arrow key. 
      			<br><br>
      			Our app also lets you chat with the Yale students other users have matched you with. The chats start out completely anonymous and it is completely up to you when/if you want to reveal your identity. If you do, just click the question mark next to their name. 
                        <br><br>
                        If your match clicks their box, too, your identities will be mutually revealed. If not, you will remain anonymous and your match will never know that you clicked your box. We are currently doing some A/B testing, so some of your matches' identities may already be revealed.
                        <br><br>
      			If you have any comments or suggestions for the game, please contact our team at <a href="mailto:team@matchboxapp.me">team@matchboxapp.me</a>.  We're looking forward to hearing from you!
      	</h3>
      	<div>
      	<a href="/match" class="btn btn-primary">Match!</a>
            <a href="/chat" class="btn btn-primary">Chat!</a>
      </div>
      	</div>
{% endblock %}