{% extends "base.html" %}

{% block content %}
      <h1>
        <center>{{ boy }} and {{ girl }}</center>
      </h1>
      <p title="Profile Pictures">
      <center><img src={{ boypp }} alt={{ boy }} width="250" height="250"
              class="circle">
              <img src={{ girlpp }} alt={{ girl }} width="250" height="250"
              class="circle"></center>
      </p>
      <p title="Arrows">
          <center><img src="{{url_for('static',filename='img/redleftarrow.png')}}" alt="Red Left Arrow" width = "100" height="60"> <img src="{{url_for('static',filename='img/greenrightarrow.png')}}" alt="Green Right Arrow" width = "100" height="60"></center>
      </p>
{% endblock %}      