{% extends "base.html" %}

{% block content %}
      <h1 id="matchnames">
        {{ boy }} and {{ girl }}
      </h1>
      <div style="text-align:center" class="hero-unit bottom">
      <div>
        <img src="{{ boypp }}" id="boy" fbid="{{ boyid }}" alt="{{ boy }}" class="circle" style="left:-20px">

        <img src="{{ girlpp }}" id="girl" fbid = "{{ girlid }}" alt="{{ girl }}" class="circle" style= "left:20px">
      </div>
         <input type="image" src="{{url_for('static',filename='img/thumbsdown.png')}}" id="downvote" width = "60" height="60" style = "left:-20px"> <input type="image" src="{{url_for('static',filename='img/thumbsup.png')}}" id="upvote" width = "60" height="60" style="left:20px">
      </div>



      <script>
      function upvoteMatch()
      {
        $.post('match', {friend1:"{{boyid}}", friend2:"{{girlid}}", friend1name:"{{boy}}",friend2name:"{{girl}}",result:"accept"}, function(data)
          {
            newMatch(data.boy,data.girl,data.boypp,data.girlpp,data.boyid,data.girlid);
          }); 

      }
      function downvoteMatch()
      {
        $.post('match', {friend1:"{{boyid}}", friend2:"{{girlid}}",friend1name:"{{boy}}",friend2name:"{{girl}}",result:"reject"}, function(data)
        {
          newMatch(data.boy,data.girl,data.boypp,data.girlpp,data.boyid,data.girlid);
        }); 
      }

      $('#upvote').click(upvoteMatch);
      $('#downvote').click(downvoteMatch);
      function newMatch(boy,girl,boypp,girlpp,boyid,girlid)
      {
        $("#matchnames").replaceWith('<h1 id="matchnames">'+boy+' and '+girl+'</h1>');
        $("#boy").replaceWith('<img src="'+boypp+'" id="boy" fbid="'+boyid+'" alt="'+boy+'" class="circle" style="left:-20px">')
        $("#girl").replaceWith('<img src="'+girlpp+'" id="girl" fbid="'+girlid+'" alt="'+girl+'" class="circle" style="left:20px">')
      }
      up_depressed = false;
      down_depressed = false
      $(document).keydown(function(event)
      {
        if (!(up_depressed || down_depressed))
        {
          if (event.which == 38) 
            {
              event.preventDefault();
              upvoteMatch();
              up_depressed = true; 
            }
          else if (event.which == 40)
          {
            event.preventDefault();
            downvoteMatch();
            down_depressed = true;
          }
        }
        
      });
      $(document).keyup(function(event)
      {
          if (event.which == 38) 
          {
            event.preventDefault();
            up_depressed = false; 
          }
          else if (event.which == 40)
          {
            event.preventDefault();
            down_depressed = false;
          }

      });
      </script>
{% endblock %}      